---
title: "Interactive Markdown Example"
---

<script>
  import Counter from '../components/Counter.svelte';
</script>

# {title}

This is an example of combining Markdown with a Svelte component:

<Counter />